<h1 class="page-header text-center">Recipe Categories</h1>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2 push-down">
    <form action="/categories" method="post">
      <div class="form-group">
        <input name="name" class="form-control capitalize" placeholder="Add a new category" required autofocus>
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>

    <div class="push-down">
      <h4>Categories:</h4>

      <table class="table">
        <% @categories.each() do |category| %>
          <tr>
            <td class="primary">
              <a href="/categories/<%= category.id() %>"><%= category.name() %></a>
            </td>
            <td>
              <a href="/categories/<%= category.id() %>/edit">Edit</a>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
