<h1 class="page-header text-center">Recipe Categories</h1>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2 push-down">
    <form action="/categories" method="post">
      <div class="form-group">
        <input name="name" class="form-control capitalize" placeholder="Add a new category" required autofocus>
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
    <br>

    <a href="/recipes/top">Highest rated recipes</a>
    <br>
    <a href="/recipes/find">Find a recipe by ingredient</a>

    <div class="push-down">

      <table class="table">
        <thead>
          <tr>
            <th class="primary">Recipe</th>
            <th class="ternary">Edit</th>
          </tr>
        </thead>

        <% @categories.each() do |category| %>
          <tr>
            <td class="primary">
              <a href="/categories/<%= category.id() %>"><%= category.name() %></a>
            </td>
            <td class="ternary">
              <a href="/categories/<%= category.id() %>/edit" class="edit-link">Edit</a>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
