<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Time!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="container">
      <a href="/" class="top-left">Home</a>
      <%= yield %>
      <a href="/reset" class="bottom-left">Reset</a>
    </div>
  </body>
</html>
