.push-down {
  margin-top: 40px;
}

.primary {
  width: 85%;
}

.secondary {
  width: 15%;
}

.indent {
  padding-left: 30px !important;
}

.stretch {
  width: 100%;
}

button.stacked {
  margin-top: 10px;
}

.capitalize {
  text-transform: capitalize;
}
