.push-down {
  margin-top: 40px;
}

.primary {
  width: 65%;
}

.secondary {
  width: 25%;
  text-align: center;
}

.ternary {
  width: 10%;
  text-align: right;
}

.star-column {
  width: 20%;
  text-align: center;
}

.indent {
  padding-left: 30px !important;
}

.stretch {
  width: 100%;
}

button.stacked {
  margin-top: 10px;
}

.capitalize {
  text-transform: capitalize;
}

.bottom-left {
  position: absolute;
  bottom: 5px;
  left: 5px;
}
.top-left {
  position: absolute;
  top: 5px;
  left: 5px;
}

.glyphicon-star {
  color: gold;
}

.horizontal-checkboxes {
  height: 20px;
  margin-bottom: 20px;
}

.horizontal-checkboxes div.checkbox {
  float: left;
  margin: 0 20px 0 0;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
